<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js"></script>
    <link rel="stylesheet" href="style.css">

</head>
<body>
<div class="menu">
    <div class="item" onclick="loadList()">List</div>
    <div class="item" onclick="loadFormAdd()"> Create</div>
</div>
<div class="body">
    <div class="main" id="main"></div>
    <div class="sideBar"></div>
</div>
</body>
</html>
<script src="userList.js">
</script>